@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color:#BFBFBF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav{
  background-color: #0D0D0D;
  color: #F2F2F2;
  padding: 15px 0;
  text-align: center;
}
.chess{
  background-color: #8C8C8C;
  height: 80%;
  width: 70%;
  margin: 3% 15% 5% 15%;
}

@media (width:1024px){
  .container{
    flex-wrap: nowrap;
  }
}